In [6]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [7]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [8]:
a = [1, 2, 3]

In [9]:
b = a
b

[1, 2, 3]

In [11]:
a.append(4)
b

[1, 2, 3, 4, 4]

In [6]:
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

In [8]:
a = 5
type(a)
a = "foo"
type(a)

In [9]:
"5" + 5

In [10]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

In [11]:
a = 5
isinstance(a, int)

In [12]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

In [15]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [16]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

In [17]:
5 - 7
12 + 21.5
5 <= 2

In [18]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

In [19]:
a == c

In [20]:
a = None
a is None

In [21]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

In [22]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

In [22]:
c = """This is a longer string thatspans multiple lines
"""

In [23]:
c.count("\n") #1

1

In [7]:
a = "this is a string"
a[10] = "f" #즉시 바꿀 수 없다 TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [9]:
b = a.replace("string", "longer string")
b #변환

'this is a longer string'

In [31]:
a

In [26]:
a = 5.6
s = str(a)
s

'5.6'

In [28]:
s = "python"
list(s) #리스트 형태로 받고 0~:X
s[:3]

'pyt'

In [31]:
s = "12\\34"
s

'12\\34'

In [34]:
s = r"this\\has\no\special\characters\r\n"
s

SyntaxError: unterminated string literal (detected at line 1) (3689567099.py, line 1)

In [35]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [50]:
template = "{0:.2f} {1:s} are worth는 US${2:d}" 
#{0:.2f} 첫번째 인수를 소수점 아래 두자리까지만 표시하는 부동소수점 형태로 출력
# {1:s} 두번째 인수를 문자열로 포맷으로 
# {2:d} 세번째 인수를 정수로 포맷

In [51]:
template.format(88.4612313212,  "한글 Argentine Pesos", 3)

'88.46 한글 Argentine Pesos are worth는 US$3'

In [52]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [54]:
f"{amount} {currency} is worth US${amount / rate:.2f}" #f-sting f

'10 Pesos is worth US$0.11'

In [55]:
val = "español"
val

'español'

In [62]:
val_utf8 = val.encode("utf-8") #String 객체에서만 진행
val_utf8

b'espa\xc3\xb1ol'

In [60]:
val_utf8 = val.encode("utf-8")
type(val_utf8)

bytes

In [63]:
val_utf8.decode("utf-8")

'español'

In [69]:
val.encode("latin1")

b'espa\xf1ol'

In [65]:
val.encode("utf-16")

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [70]:
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [75]:
# 1. 문자열을 'latin1'로 인코딩
val_latin1 = val.encode("latin1")
print(val_latin1)  # b'espa\xf1ol'

# 2. 바이트열을 'latin1'로 디코딩 (문자열로 변환)
val_decoded = val_latin1.decode("latin1")
print(val_decoded)  # español

# 3. 디코딩된 문자열을 다시 'utf-8'로 인코딩
val_utf8 = val_decoded.encode("utf-8")
print(val_utf8)  # b'espa\xc3\xb1ol'

b'espa\xf1ol'
español
b'espa\xc3\xb1ol'

In [76]:
True and True
False or True

True

In [77]:
int(False)
int(True)

1

In [80]:
a = True
b = False
print(not a)
not b

False

True

In [92]:
s = "3.14159"
fval = float(s)
print(fval)
print(type(fval))
print(int(fval))
print(str(bool(fval)))
print("bool(fval):"+str(bool(fval)))
bool(0)

3.14159
<class 'float'>
3
True
bool(fval):True

False

In [93]:
a = None # Python Null 
a is None
b = 5
b is not None

True

In [113]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21,344442)
dt.day
dt.minute

30

In [103]:
print(dt.date())
print(dt.time())
print(type(dt.time()))
dt.time()

2011-10-29
20:30:21
<class 'datetime.time'>

datetime.time(20, 30, 21)

In [110]:
dt.strftime("%Y-%m-%d %H:%M:%S")

'2011-10-29 20:30:21'

In [106]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [114]:
formatted_time = dt.strftime("%Y-%m-%d %H:%M:%S.%f")[:-3]
print(formatted_time)

2011-10-29 20:30:21.344

In [115]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0, 0, 344442)

In [116]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21, 344442)

In [121]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta) #datetime, datetime은 변경이 불가능하므로 이 메서든는 항상 새로운 객체를 반환 한다.
# timedelta에서 **delta**는 수학적 용어에서 **"차이(difference)"**를 나타내기 위해 사용된 이름입니다. 그리스 문자 **Δ(델타)**는 수학, 물리학, 공학 등에서 변화량이나 차이를 의미하는 기호로 널리 사용됩니다.
# Jupyter Ju: Julia, Py: Python, R: R

'\ntimedelta에서 **delta**는 수학적 용어에서 **"차이(difference)"**를 나타내기 위해 사용된 이름입니다. 그리스 문자 **Δ(델타)**는 수학, 물리학, 공학 등에서 변화량이나 차이를 의미하는 기호로 널리 사용됩니다.\n'

In [118]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [122]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [123]:
4 > 3 > 2 > 1

True

In [124]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [131]:
totalUntil_5=0
for i in range(4):    
    for j in range(4):        
        if j > i:
            break
        totalUntil_5 += 1
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [128]:
range(10) #range 함수는 임의의 큰 ㅋ기로 값을 생성해낼 수 있지만 메모리 사용량은 매우 적다.
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list(range(0, 20, 2))
list(range(5, 0, -1))

In [63]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

In [134]:
x=256
total = 0
while x>0:
    if total > 500:
        break
    total += x
    x = x // 2
x

4

In [137]:
if x < 0:
    print("negative!")
elif x==0:
    #ToDO : ...
    pass
else:
    print("positive")

positive