In [19]:
tup = (4, 5, 6) #튜플 괄호
tup

(4, 5, 6)

In [20]:
tup = 4, 5, 6 #괄호없이
tup

(4, 5, 6)

In [21]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [22]:
tup[0]

's'

In [23]:
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)
print(nested_tup[0])
nested_tup[1]

((4, 5, 6), (7, 8))
(4, 5, 6)

(7, 8)

In [17]:
tup = tuple(['foo', [1, 2], True]) # 튜플에 저장된 객체 자체는 변경이 가능하지만 한번생성되면, 각 슬롯에 저장된 객체를 변경하는 것은 불가능 하다.
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [93]:
tup = (1,["a","b","c"],3)
print(tup)
tup[1].append("d")
print(tup)
print(tup[1].pop(2))
tup[1].remove("a")
tup # (1,["b","d"],3)

(1, ['a', 'b', 'c'], 3)
(1, ['a', 'b', 'c', 'd'], 3)
c

(1, ['b', 'd'], 3)

In [10]:
tup[1] = 3
tup

TypeError: 'tuple' object does not support item assignment

In [35]:
(4, None, 'foo') + (6, 0) + ('bar',)  #튜플이어 붙이기

(4, None, 'foo', 6, 0, 'bar')

In [10]:
('foo', 'bar') * 4 #튜플 곱기기

In [37]:
tup = (4, 5, 6) #튜플에서 값 분리하기
a, b, c = tup
b

5

In [41]:
tup = 4, 5, 8, (6, 7) #순차 자료형에서 값을 분리하기
print(tup)
a, b, e, (c, d) = tup
d

(4, 5, 8, (6, 7))

7

In [42]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [43]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}') #f-string 변수 a, b,c 에 값을 대입하는 과정

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [6]:
values = 1, 2, 3, 4, 5 #튜플의 시작 부분에서 값을 일부 끄집어 내야하는 상황. 함수의 시그니처에서 길이를 알 수 없는 긴 인수를 담기 위한 방법
a, b, *rs = values
print(f"a={a}, b={b}, c={rs}")

a=1, b=2, c=[3, 4, 5]

In [49]:
a, b, *_ = values

In [51]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [7]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
print(b_list)
b_list[1] = "peekaboo"
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [53]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
b_list.append("dwarf")
b_list

['foo', 'red', 'dwarf']

In [81]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'red', 'dwarf']

In [79]:
print(b_list.pop(2))
b_list

red

['foo', 'red', 'dwarf']

In [83]:
print(b_list.count('red'))
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

2

['red', 'red', 'dwarf', 'foo']

In [80]:
"dwarf" in b_list

True

In [25]:
"dwarf" not in b_list

In [84]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [85]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [9]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [15]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len) #b자체를 오름차순으로 정리
print(b)

b_desc = sorted(b, reverse=True)
b_desc

['He', 'saw', 'six', 'small', 'foxes']

['small', 'six', 'saw', 'foxes', 'He']

In [16]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
print(seq[1:5])
seq[1:]

[2, 3, 7, 5, 6, 0, 1]

In [21]:
seq[3:5] = [6, 3,2,1,]
seq

[7, 2, 3, 6, 3, 2, 1, 3, 0, 1]

In [22]:
print(seq[:5])
seq[3:]

[7, 2, 3, 6, 3]

[6, 3, 2, 1, 3, 0, 1]

In [90]:
print(seq[-4:])
seq[-6:-2]

[3, 6, 0, 1]

[3, 6, 3, 6]

In [91]:
seq[::2]

[7, 3, 3, 0]

In [92]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [96]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [98]:
d1[7] = "an integer"
print(d1)
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [38]:
"b" in d1

In [104]:
d1[5] = "some value"
print(d1)
d1["dummy"] = "another value"
print(d1)
del d1[5]
print(d1)
ret = d1.pop("dummy")
print("ret:"+ret)
d1.pop("dummy") if 'dummy' in d1 else print("dummy" + "없다")
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
ret:another value
dummy없다
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [106]:
print(list(d1.keys()))
list(d1.values())

['a', 'b', 7]

['some value', [1, 2, 3, 4], 'an integer']

In [107]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [109]:
d1.update({"b": 1, "c": 12})
d1

{'a': 'some value', 'b': 1, 7: 'an integer', 'c': 12}

In [110]:
tuples = zip(range(5), reversed(range(5)))
print(tuples)
mapping = dict(tuples)
mapping

<zip object at 0x0000018F4CD7FA00>

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [111]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [113]:
by_letter = {}
for word in words:
    letter = word[0]
    print(word)
    by_letter.setdefault(letter, []).append(word)
by_letter

apple
bat
bar
atom
book

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [139]:
from collections import defaultdict

by_letter = defaultdict(list)
print(by_letter)
for word in words:
    by_letter[word[0]].append(word)
print(by_letter)

defaultdict(<class 'list'>, {})
defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [138]:

hash("string")
hash((1, 2, (2, 3)))
# hash((1, 2, [2, 3])) # fails because lists are mutable

-9209053662355515447

In [136]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [140]:
set([2, 2, 2, 1, 3, 3]) #Set 중복을 허용하지 않는다. 중복만 보려면? intersection
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [142]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [143]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [144]:
a.intersection(b)
a & b

{3, 4, 5}

In [147]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{1, 2, 3, 4, 5, 6, 7, 8}

In [148]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [150]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set) # <=
a_set.issuperset({1, 2, 3}) # >=

True

In [151]:
{1, 2, 3} == {3, 2, 1}

True

In [155]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
sorted("horse race")

[0, 1, 2, 2, 3, 6, 7]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [156]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped) #zip() 함수는 zip 객체를 반환합니다. 이 zip 객체는 **이터레이터(iterator)**이므로, 이를 명시적으로 리스트로 변환해야 그 내용을 확인할 수 있습니다.

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [157]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3)) #seq3가 더 이상 요소를 제공하지 못하므로 무시됩

[('foo', 'one', False), ('bar', 'two', True)]

In [160]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [161]:
for index, (a,b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [162]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [25]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [26]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [27]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [65]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

In [29]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [30]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [31]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [32]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [71]:
[[x for x in tup] for tup in some_tuples]

In [72]:
def my_function(x, y):
    return x + y

In [73]:
my_function(1, 2)
result = my_function(1, 2)
result

In [74]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

In [75]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [76]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

In [77]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [78]:
func()
a
func()
a

In [79]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

In [33]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [34]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [35]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [36]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [37]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [38]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [41]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2
equiv_anon

In [40]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [42]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [43]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [44]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [45]:
dict_iterator = iter(some_dict)
dict_iterator

In [46]:
list(dict_iterator)

['a', 'b', 'c']

In [47]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [48]:
gen = squares()
gen

In [95]:
for x in gen:
    print(x, end=" ")

In [96]:
gen = (x ** 2 for x in range(100))
gen

In [97]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

In [49]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [50]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [51]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [52]:
attempt_float("1.2345")
attempt_float("something")

'something'

In [53]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [54]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [55]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [56]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [57]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [58]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [59]:
f.close()

In [60]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [61]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [62]:
f1.tell()
f2.tell()

10

In [63]:
import sys
sys.getdefaultencoding()

'utf-8'

In [64]:
f1.seek(3)
f1.read(1)
f1.tell()

5

In [65]:
f1.close()
f2.close()

In [66]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Sue챰a el rico en su riqueza,\n',
 'que m찼s cuidados le ofrece;\n',
 'sue챰a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue챰a el que a medrar empieza,\n',
 'sue챰a el que afana y pretende,\n',
 'sue챰a el que agravia y ofende,\n',
 'y en el mundo, en conclusi처n,\n',
 'todos sue챰an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [67]:
import os
os.remove("tmp.txt")

In [68]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

10

In [69]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [119]:
data.decode("utf-8")
data[:4].decode("utf-8")

In [70]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

UnicodeEncodeError: 'latin-1' codec can't encode character '\ucc70' in position 3: ordinal not in range(256)

In [71]:
os.remove(sink_path)

In [72]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte